.App {
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: azure;
}

.main-body {
  height: 78vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: scroll;
}

.nytimes-logo {
  margin-top: 0.2em;
  height: 10vmin;
}

/* @media (prefers-reduced-motion: no-preference) {
  .nytimes-logo {
    animation: nytimes-logo-spin infinite 20s linear;
  }
}

.nytimes-logo {
  color: #61dafb;
} */

/* @keyframes nytimes-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
