.header {
    display: flex;
    align-items: center; 
    /* in use space -between need to add margin to search and company name */
    /* justify-content: space-between; */
    justify-content: space-around;
    height: 12vh;
    background-color: aqua;
    width: 100vw;
    padding: 0 5px;
}

.header a {
    text-decoration: none;
}

a .company-name {
    margin: 0;
    /* margin-left: 40px; */
    color: black;
}

a .company-name:hover {
    margin: 0;
    color: white;
}

.search {
    font-size: 20px;
}