.header {
display: flex;
align-items: center; 
justify-content: space-between;
height: 12vh;
background-color: aqua;
width: 100vw;
}

.company-name a {
    margin: 0;
    color: black;
}

.company-name a:hover {
    margin: 0;
    color: white;
}

.search {
    font-size: 20px;
}