.all-news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* padding: 0 4em; */
    margin:  0 4em;
    align-items: center;
    text-align: left;
    background-color: #cccccc3d;
    border-radius: 3px;
}