.all-news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin:  0 4em;
    align-items: center;
    /* overflow-y: scroll; */
    text-align: left;
    background-color: #cccccc3d;
    border-radius: 3px;
}