.topNew {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100vw; */
    /* margin: 0 4em; */
    /* padding-bottom: 2em; */
    justify-content: center;
    /* background-color: #f0f1f2; */
}

.topNew-container {
    display: flex;
    background-color:  white;
    padding: 0.2em;
    align-items: center;
    height: 280px;
    
}

.img-container {
    width: 60%;
}

.topNew-img {
    display: block;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    /* -webkit-background-position: center; */
    background-position: center;
    object-fit: cover;
    /* width: 100%; */
    height: 280px;
}


.p-topNew-container {
    font-size: 12px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffffff;
    /* padding: 3em; */
}

a.topNew-url {
    text-decoration-color: black;
    color: black;
    font-size: larger;
}

a.topNew-url:hover {
    text-decoration-color: red;
    color: red;
}